nav {
    font-size: 30px;
    border: 1px solid rgb(7, 7, 7);
    background-color: rgb(8, 8, 8);
}

a {
    color: white;
}

img {
    height: 50px;
    float: right;
    display: block;
    margin: 20px;
    border-radius: 100px;
    background-color: white;
}

span {
    color: white;
    float: right;
    display: block;
}