<div class="row">
    <div class=" col-md-12 col-md-offset-4 ">
        <h2>Login</h2>
        <form novalidate [formGroup]="loginForm">
            <div class="row">
                <div class="col-md-4"></div>

                <div id="inputs" class="col-md-4">
                    <div class=" form-group ">
                        <!-- Each formControlName binds to one formControl inside the formGroup property: -->
                        <input class="form-control " type="text" formControlName="userName" placeholder="name" />
                        <app-error [controlParam]="loginForm.controls['userName']"></app-error>
                    </div>

                    <div class=" form-group ">
                        <!-- Each formControlName binds to one formControl inside the formGroup property: -->
                        <input class="form-control " type="password" formControlName="userPassword" />
                        <app-error [controlParam]="loginForm.controls['userPassword']" [validateState]="dirty"></app-error>
                    </div>
                    <div>
                        <button class="btn btn-primary " type="submit " value="Login" [disabled]="!loginForm.valid " (click)="checkUser() ">Login</button>
                        <a [routerLink]=" ['/Register'] " class="btn btn-link ">Register</a>
                        <div *ngIf="userNotFound " class="alert alert-danger ">
                            <strong>The User Name {{loginForm.value.userName}} NOT FOUND !!</strong>
                        </div>

                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>